

/* Start:/local/templates/main/components/bitrix/news.list/contacts/style.css?1716394302150*/
div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /local/templates/main/components/bitrix/news.list/contacts/style.css?1716394302150 */
